@charset "utf-8";
/* CSS Document */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: lightslategrey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: dark;
  background-color: lightslategrey;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: solid;
}

h2{
  font-family: arial;
}

p{
  font-family: arial;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
  color: dark;
}